<a href="https://colab.research.google.com/github/Premkumar-DataEngineer/DataEngineering/blob/main/pyspark_exercise2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
!apt-get update -qq > /dev/null
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [36]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [37]:
!pip install findspark

Requirement already satisfied: findspark in /usr/local/lib/python3.12/dist-packages (2.0.1)

In [38]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkInitialization").getOrCreate()
print("Spark session initialized successfully!")

Spark session initialized successfully!

In [39]:
from pyspark import SparkContext

In [ ]:
sc=spark.sparkContext

In [40]:
!ls

retailstore.csv  sample_data

In [ ]:
!wget https://raw.githubusercontent.com/futurexskill/bigdata/refs/heads/master/retailstore.csv

--2025-08-24 11:28:21--  https://raw.githubusercontent.com/futurexskill/bigdata/refs/heads/master/retailstore.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 279 [text/plain]
Saving to: ‘retailstore.csv’

retailstore.csv     100%[===================>]     279  --.-KB/s    in 0s

2025-08-24 11:28:21 (4.33 MB/s) - ‘retailstore.csv’ saved [279/279]

In [ ]:
!ls

retailstore.csv  sample_data

In [ ]:
retailRDD=sc.textFile("retailstore.csv")

In [ ]:
retailRDD.collect()

['Age,Salary,Gender,Country,Purchased',
 '18,20000,Male,Germany,N',
 '19,22000,Female,France,N',
 '20,24000,Female,England,N',
 '21,,Male,England,N',
 '22,50000,Male,France,Y',
 '23,35000,Female,England,N',
 '24,,Male,Germany,N',
 '25,32000,Female,France,Y',
 ',35000,Male,Germany,N',
 '27,37000,Female,France,N']

In [ ]:
trans_retailRDD=retailRDD.map(lambda x:x.replace("Male","M"))

In [ ]:
trans_retailRDD.collect()

['Age,Salary,Gender,Country,Purchased',
 '18,20000,M,Germany,N',
 '19,22000,Female,France,N',
 '20,24000,Female,England,N',
 '21,,M,England,N',
 '22,50000,M,France,Y',
 '23,35000,Female,England,N',
 '24,,M,Germany,N',
 '25,32000,Female,France,Y',
 ',35000,M,Germany,N',
 '27,37000,Female,France,N']

In [ ]:
retailRDD.filter(lambda x:x.split(",")[2]=="Male").collect()

['18,20000,Male,Germany,N',
 '21,,Male,England,N',
 '22,50000,Male,France,Y',
 '24,,Male,Germany,N',
 ',35000,Male,Germany,N']

In [ ]:
retailRDD.filter(lambda x: "Female" in x).collect()

['19,22000,Female,France,N',
 '20,24000,Female,England,N',
 '23,35000,Female,England,N',
 '25,32000,Female,France,Y',
 '27,37000,Female,France,N']

In [ ]:
retailRDD.filter(lambda x:type(x)).collect()

['Age,Salary,Gender,Country,Purchased',
 '18,20000,Male,Germany,N',
 '19,22000,Female,France,N',
 '20,24000,Female,England,N',
 '21,,Male,England,N',
 '22,50000,Male,France,Y',
 '23,35000,Female,England,N',
 '24,,Male,Germany,N',
 '25,32000,Female,France,Y',
 ',35000,Male,Germany,N',
 '27,37000,Female,France,N']

In [ ]:
type(retailRDD[1])

TypeError: 'RDD' object is not subscriptable

In [ ]:
# Collect the RDD to a list on the driver node
retail_list = retailRDD.collect()

# Now you can access elements from the list
if len(retail_list) > 1:
  print(type(retail_list[1]))
else:
  print("RDD does not have enough elements to access the second element.")

<class 'str'>

In [ ]:
retailRDD.count()

11

In [ ]:
words=retailRDD.flatMap(lambda x:x.split(",")).collect()

In [ ]:
words.collect()

AttributeError: 'list' object has no attribute 'collect'

In [ ]:
words=retailRDD.flatMap(lambda x:x.split(","))

In [ ]:
words.count()

55

In [ ]:
words.collect()

['Age',
 'Salary',
 'Gender',
 'Country',
 'Purchased',
 '18',
 '20000',
 'Male',
 'Germany',
 'N',
 '19',
 '22000',
 'Female',
 'France',
 'N',
 '20',
 '24000',
 'Female',
 'England',
 'N',
 '21',
 '',
 'Male',
 'England',
 'N',
 '22',
 '50000',
 'Male',
 'France',
 'Y',
 '23',
 '35000',
 'Female',
 'England',
 'N',
 '24',
 '',
 'Male',
 'Germany',
 'N',
 '25',
 '32000',
 'Female',
 'France',
 'Y',
 '',
 '35000',
 'Male',
 'Germany',
 'N',
 '27',
 '37000',
 'Female',
 'France',
 'N']

In [ ]:
words.distinct().collect()

['Salary',
 'Gender',
 'Country',
 '18',
 '20000',
 'Male',
 'Germany',
 '22000',
 'Female',
 'France',
 '21',
 '',
 '22',
 '50000',
 '24',
 '32000',
 'Age',
 'Purchased',
 'N',
 '19',
 '20',
 '24000',
 'England',
 'Y',
 '23',
 '35000',
 '25',
 '27',
 '37000']

In [ ]:
retailRDD.collect()

['Age,Salary,Gender,Country,Purchased',
 '18,20000,Male,Germany,N',
 '19,22000,Female,France,N',
 '20,24000,Female,England,N',
 '21,,Male,England,N',
 '22,50000,Male,France,Y',
 '23,35000,Female,England,N',
 '24,,Male,Germany,N',
 '25,32000,Female,France,Y',
 ',35000,Male,Germany,N',
 '27,37000,Female,France,N']

In [ ]:
retailRDD.map(lambda x:x.split(",")).collect()

[['Age', 'Salary', 'Gender', 'Country', 'Purchased'],
 ['18', '20000', 'Male', 'Germany', 'N'],
 ['19', '22000', 'Female', 'France', 'N'],
 ['20', '24000', 'Female', 'England', 'N'],
 ['21', '', 'Male', 'England', 'N'],
 ['22', '50000', 'Male', 'France', 'Y'],
 ['23', '35000', 'Female', 'England', 'N'],
 ['24', '', 'Male', 'Germany', 'N'],
 ['25', '32000', 'Female', 'France', 'Y'],
 ['', '35000', 'Male', 'Germany', 'N'],
 ['27', '37000', 'Female', 'France', 'N']]

In [ ]:
wordlist=retailRDD.map(lambda x:x.split(",")).collect()
if len(wordlist)>0:
  print(type(wordlist[0]))
else:
  print("RDD does not have enough elements to access the second element.")

<class 'list'>

In [ ]:
wordflat=retailRDD.flatMap(lambda x:x.split(",")).collect()
if len(wordflat)>0:
  print(type(wordflat[0]))
else:
  print("RDD does not have enough elements to access the second element.")

<class 'str'>

In [41]:
retail_df=spark.read.csv("retailstore.csv",header=True,inferSchema=True)

In [42]:
retail_df.describe().show()

+-------+-----------------+-----------------+------+-------+---------+
|summary|              Age|           Salary|Gender|Country|Purchased|
+-------+-----------------+-----------------+------+-------+---------+
|  count|                9|                8|    10|     10|       10|
|   mean|22.11111111111111|          31875.0|  NULL|   NULL|     NULL|
| stddev|2.934469476943168|9818.895777311942|  NULL|   NULL|     NULL|
|    min|               18|            20000|Female|England|        N|
|    max|               27|            50000|  Male|Germany|        Y|
+-------+-----------------+-----------------+------+-------+---------+

In [43]:
retail_df.show()

+----+------+------+-------+---------+
| Age|Salary|Gender|Country|Purchased|
+----+------+------+-------+---------+
|  18| 20000|  Male|Germany|        N|
|  19| 22000|Female| France|        N|
|  20| 24000|Female|England|        N|
|  21|  NULL|  Male|England|        N|
|  22| 50000|  Male| France|        Y|
|  23| 35000|Female|England|        N|
|  24|  NULL|  Male|Germany|        N|
|  25| 32000|Female| France|        Y|
|NULL| 35000|  Male|Germany|        N|
|  27| 37000|Female| France|        N|
+----+------+------+-------+---------+

In [44]:
retail_df.select("Country").show()

+-------+
|Country|
+-------+
|Germany|
| France|
|England|
|England|
| France|
|England|
|Germany|
| France|
|Germany|
| France|
+-------+

In [45]:
retail_df.select("Country").distinct().show()

+-------+
|Country|
+-------+
|Germany|
| France|
|England|
+-------+

In [46]:
retail_df.groupBy("Country").count().show()

+-------+-----+
|Country|count|
+-------+-----+
|Germany|    3|
| France|    4|
|England|    3|
+-------+-----+

In [47]:
retail_df.createOrReplaceGlobalTempView("retail_global")

In [48]:
retail_result=spark.sql("select * from global_temp.retail_global")

In [49]:
retail_result.show()

+----+------+------+-------+---------+
| Age|Salary|Gender|Country|Purchased|
+----+------+------+-------+---------+
|  18| 20000|  Male|Germany|        N|
|  19| 22000|Female| France|        N|
|  20| 24000|Female|England|        N|
|  21|  NULL|  Male|England|        N|
|  22| 50000|  Male| France|        Y|
|  23| 35000|Female|England|        N|
|  24|  NULL|  Male|Germany|        N|
|  25| 32000|Female| France|        Y|
|NULL| 35000|  Male|Germany|        N|
|  27| 37000|Female| France|        N|
+----+------+------+-------+---------+

In [50]:
type(retail_result)

pyspark.sql.dataframe.DataFrame

In [53]:
retail_df.filter("age>20").show()

+---+------+------+-------+---------+
|Age|Salary|Gender|Country|Purchased|
+---+------+------+-------+---------+
| 21|  NULL|  Male|England|        N|
| 22| 50000|  Male| France|        Y|
| 23| 35000|Female|England|        N|
| 24|  NULL|  Male|Germany|        N|
| 25| 32000|Female| France|        Y|
| 27| 37000|Female| France|        N|
+---+------+------+-------+---------+

In [54]:
retail_df.filter("Gender='Male'").show()

+----+------+------+-------+---------+
| Age|Salary|Gender|Country|Purchased|
+----+------+------+-------+---------+
|  18| 20000|  Male|Germany|        N|
|  21|  NULL|  Male|England|        N|
|  22| 50000|  Male| France|        Y|
|  24|  NULL|  Male|Germany|        N|
|NULL| 35000|  Male|Germany|        N|
+----+------+------+-------+---------+

In [55]:
retail_df.filter("Gender='Male' and age>20").show()

+---+------+------+-------+---------+
|Age|Salary|Gender|Country|Purchased|
+---+------+------+-------+---------+
| 21|  NULL|  Male|England|        N|
| 22| 50000|  Male| France|        Y|
| 24|  NULL|  Male|Germany|        N|
+---+------+------+-------+---------+

In [57]:
retail_df.orderBy("age").show()

+----+------+------+-------+---------+
| Age|Salary|Gender|Country|Purchased|
+----+------+------+-------+---------+
|NULL| 35000|  Male|Germany|        N|
|  18| 20000|  Male|Germany|        N|
|  19| 22000|Female| France|        N|
|  20| 24000|Female|England|        N|
|  21|  NULL|  Male|England|        N|
|  22| 50000|  Male| France|        Y|
|  23| 35000|Female|England|        N|
|  24|  NULL|  Male|Germany|        N|
|  25| 32000|Female| France|        Y|
|  27| 37000|Female| France|        N|
+----+------+------+-------+---------+

In [59]:
retail_df.orderBy("age",ascending=True).show()

+----+------+------+-------+---------+
| Age|Salary|Gender|Country|Purchased|
+----+------+------+-------+---------+
|NULL| 35000|  Male|Germany|        N|
|  18| 20000|  Male|Germany|        N|
|  19| 22000|Female| France|        N|
|  20| 24000|Female|England|        N|
|  21|  NULL|  Male|England|        N|
|  22| 50000|  Male| France|        Y|
|  23| 35000|Female|England|        N|
|  24|  NULL|  Male|Germany|        N|
|  25| 32000|Female| France|        Y|
|  27| 37000|Female| France|        N|
+----+------+------+-------+---------+